[submodule "core"]
	path = core
	url = https://github.com/ljbo82/cpp-project-builder-core.git
[submodule "extras/arduino-builder"]
	path = extras/arduino-builder
	url = https://github.com/ljbo82/arduino-builder.git
